@import "tailwindcss";

/* globals.css */
:root {
  --font-orbitron: 'Orbitron', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-orbitron);
}

body, p, span, li {
  font-family: var(--font-poppins);
}
